<h2> Administration </h2>

<%= link_to "Shooter Home", :controller => "shooter", :action => "show", :id => @admin.id%>
<%= link_to "Manage Leagues", :controller => "league", :action => "show" %>
<%= link_to "Manage Shooters", :controller => "admin", :action => "show_shooters" %>
<%= link_to "Manage Tournaments", :controller => "tournament", :action => "show"%>
